<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    2+2 = <%= 2 + 2 %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellendus a fugit excepturi amet adipisci repellat. Natus odio perspiciatis accusantium inventore vero quae aspernatur expedita, qui distinctio incidunt quod amet.
    Iure qu 
    o doloribus praesentium magnam vel, consectetur. Cupiditate culpa magni eos quod?</p>
    <button>Click me</button>
</body>
</html>